    section {
        background-color: #FFF8DC;
        padding: 20px;
    }
    

    h1, footer {
        text-align: center;
    }
    footer {
        margin-top: 20px;
    }
    a:link, a:visited {
        color: #000;
        text-decoration: none;
    }   
    

    b {
        color: #800000;
    }   
    strong {
        color: #D2691E;
    }
    em { 
	color: #701928;
    }
    i {
	color: #631011;
	font: Serif;
    }
    code {
	color: #184975;
  }
    kbd {
	color: #087241;
    }
    sup { 
	color: #297461;
    }
    sub {
	color: #087401;
    }
    .standout {
	color: #170484;
    }
    .qwerty {
	font: monospace;
    }
    
