body {
    margin: 40px;
    padding: 40px;
    background-color: #FFF8DC;
    border: 1px solid #808080;
}
h1 {
    text-align: center;
    color: #FFC0CB;
}
h2 {
    color: #FFB6C1;
}
a, a:visited {
    color: #00FFFF;
    text-decoration: none;
}
footer {
    text-align: center;
}

