body {
    margin: 40px;
    padding: 40px;
    border: 5px solid #808080;
    background-color: #FFAE42;
}
h1 {
    text-align: center;
    color: #FFC0CB;
}
h2 {
    color: #FFB6C1;
}
a, a:visited {
    color: #00FFFF;
    text-decoration: none;
}

footer {
        text-align: center;
        margin-top: 40px;
        font-size: .9em;
}
footer a {
        border: 1px solid #777;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-right: 2px;
        margin-right: 10px;
        background-color: #FFF;
}
a > strong {
        background-color: #9932CC;
        color: #FFF;
        padding: 2px;
        padding-left: 4px;
        margin-right: 2px;
}
